//Colors

$white: #ffffff;
$black: #000000;
$light-grey: #d1d3d4;
$dark-grey: #6d6f71;
$blue: #00AEEF;
$light-blue: #00AEEf;
$red: #ED1C24;

// Fonts
$Mont-Light: 'Montserrat-Light', sans-serif;
$Mont-Regular: 'Montserrat-Regular', sans-serif;
$Mont-UltraLight: 'Montserrat-UltraLight', sans-serif;
$MyriadPro: 'MyriadPro', sans-serif;